<form  [formGroup]="degreeProgramForm" (ngSubmit)="saveDegreeProgram()">
                  
  <!-- for company list --> 
  <div class="row">
    <div class="form-group">
      <label class="control-label">department</label><span style="color: red">*</span>
      <p-dropdown formControlName="department" #com  [options]="departmentList" [filter]="true" optionLabel="name" placeholder="Select a degree Program" [style]="{'width':'100%'}"></p-dropdown>
      <!-- fro validation -->
    <!-- <app-field-error-display [errorIcon]="false" [displayError]="isFieldValid('company')" errorMsg="Company is required"></app-field-error-display> -->
    </div>
  </div>


  <div class="row">
    <div class="form-group">
    <label class="col-sm-3 control-label" for="form-control-1">DegreeProgram Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
    </div>
  </div>
  </div>

  <!-- <div class="row">
    <label class="col-sm-3 control-label" for="form-control-1">Faculty Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
    </div>
  </div> -->


<button type="submit" class="btn btn-space btn-success"><i class="icon icon-left mdi mdi-check"></i>Submit</button>                          
</form>