<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="row">             
            <div class="box-header with-border">
              <div class="text-left componet-heading">Company List</div>
            </div>
            <div class=" pull-left">
              <button type="button" class="btn-lg btn-custom btn-dark-blue " data-toggle="modal"
                  (click)="openModal(addFacultyTemplate)">+ Add Company</button>
            </div>
          </div>
          <div class="row">          
            <app-faculty-list></app-faculty-list>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- for add company modal -->
<ng-template #addFacultyTemplate>
  <div class="modal-header">
      <h4 class="modal-title pull-left">Company</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <app-add-faculty></app-add-faculty>
  </div>
</ng-template>