<form  [formGroup]="courseForm" (ngSubmit)="saveCourse()">
                  
  <!-- for company list --> 
  <div class="row">
    <div class="form-group">
      <label class="control-label">Degree program</label><span style="color: red">*</span>
      <p-dropdown formControlName="degreeProgram"   [options]="degreeProgramList" [filter]="true" optionLabel="name" placeholder="Select a degree Program" [style]="{'width':'100%'}"></p-dropdown>
      <!-- fro validation -->
    <!-- <app-field-error-display [errorIcon]="false" [displayError]="isFieldValid('company')" errorMsg="Company is required"></app-field-error-display> -->
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label class="control-label">Lecture</label><span style="color: red">*</span>
      <p-dropdown formControlName="lecture"   [options]="lectureList" [filter]="true" optionLabel="name" placeholder="Select a Lecture" [style]="{'width':'100%'}"></p-dropdown>
      <!-- fro validation -->
    <!-- <app-field-error-display [errorIcon]="false" [displayError]="isFieldValid('company')" errorMsg="Company is required"></app-field-error-display> -->
    </div>
  </div>


  <div class="row">
    <div class="form-group">
    <label class="col-sm-3 control-label" for="form-control-1">Course Code </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="courseCode" placeholder="Enter Course Code">
    </div>
  </div>
  </div>

  <div class="row">
    <div class="form-group">
    <label class="col-sm-3 control-label" for="form-control-1">Course Name </label>
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
    </div>
  </div>
  </div>

  <!-- <div class="row">
    <label class="col-sm-3 control-label" for="form-control-1">Faculty Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" formControlName="name" placeholder="Enter name">
    </div>
  </div> -->


<button type="submit" class="btn btn-space btn-success"><i class="icon icon-left mdi mdi-check"></i>Submit</button>                          
</form>