

<div class="" id="page-wrapper">
  <div class="container-fluid">
    <div class="row row-stat">
      <div class="col-sm-12">
        <div class="panel panel-default">
         
          <div class="row">          
            <!-- for company list --> 
            <div class="row">
              
                <label class="control-label">Course</label><span style="color: red">*</span>
                <p-dropdown  [options]="courseList" [filter]="true" optionLabel="course.name" (onChange)="onChange($event.value)" placeholder="Select a course" [style]="{'width':'100%'}"></p-dropdown>
                <!-- fro validation -->
              <!-- <app-field-error-display [errorIcon]="false" [displayError]="isFieldValid('company')" errorMsg="Company is required"></app-field-error-display> -->
              
            </div>


            <div class="row">
              <p-pickList [source]="sourseStudent" [target]="targetStudent" sourceHeader="Available" targetHeader="Selected" [responsive]="true" filterBy="studentName" 
              dragdrop="true" sourceFilterPlaceholder="Search by brand" targetFilterPlaceholder="Search by brand" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
                  <ng-template let-student pTemplate="item">
                      <div class="ui-helper-clearfix">
                          <!-- <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="display:inline-block;margin:2px 0 2px 2px" width="48"> -->
                          <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{student.epNumber}} - {{student.studentName}}</div>
                      </div>
                  </ng-template>
            </p-pickList>
            <div class=" pull-left">
              <button type="button" class="btn-lg btn-custom btn-dark-blue " data-toggle="modal"
                  (click)="assingStudent()">+ Assing</button>
            </div>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>